<div class="focus">
  <div class="list-item">
    <ul>
      <% @top_films.each do |film| %>
      <li>
        <div class="item">
        <div class="thumb">
          <%= image_tag film.thumb %>
        </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>