<% provide :title, t("home.title") %>
<div class="introduction">
  <%= render "static_pages/slider" %>
</div>
<nav>
  <em>Phim mới cập nhật</em>
  <%= link_to "xem thêm..", '#', class: "float-r a-active" %>
</nav>
<div class="main-content">
  <% @new_films.each do |film| %>
    <%= render 'layouts/item',film: film, type: "thumb" %> 
  <% end %>
</div>
