<h1>Phim</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the AnimeViet! Click on the link below to activate your account:
</p>

<%= link_to "Activate", activation_url(token: @user.activation_token,
                                                    email: @user.email) %>
