<style>
  .item-seach{
    display: flex;
    background-color: rgba(27, 20, 20, 0.7); 
    margin: 2px;
    }
  .name{
    width: 80%;
    height: 50px; 
    box-sizing: border-box; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    }
  .name i{
    color: rgb(190, 231, 170);
  }
  .thumb{
    width: 20%; 
    height: 50px; 
    box-sizing: border-box;}
  .thum img{
    height: 100%;
   }
  .item-seach:hover{
    background-color: rgba(80, 58, 58, 0.7);
   }
</style>
<% @results.each do |result| %>
  <div class="item-seach" style="">
      <div class = "thumb">
        <% if result.thumb %>
          <%= link_to image_tag(result.thumb), result %>
        <% else %>
          <%= link_to image_tag('not_found.png'), result %>
        <% end %>
      </div>
      <div class="name">
        <%= link_to result.name, result %>
        <br/>
        <i>
          <% if result[:type].nil? %>
            Film
          <% else %>
            <%= result[:type] %>
          <% end %>
        </i>
      </div>
  </div>
<% end %>