<% provide :title, "Play" %>
<div class="films-container">
<%= render "layouts/bar_address" %>
<div class = "play-container">
  <video width="100%" controls>
    <source src="<%= @episode.link %>" type="video/mp4">
  </video>
  <ul id="episodes">
    <li>Ep:</li>
    <% @episodes.each do |episode| %>
      <li>
        <%= link_to episode.number, film_episode_path(@film ,episode) %>
      </li>
    <% end %>
  </ul>
</div>
<%= render @comments %>
</div>