.filters{
  position: absolute;
  width: 320px;
  top: 100%;
  left: 0;
  z-index: 90;
  user-select: none;
  button, select{
    background-color: transparent;
    color: #fff;
    option{
      color: black;
    }
  }
  
  ul{
    li{
      padding: 5px 0;
      box-sizing: border-box;
      display: inline-block;
    }
    .menu{
      li{
        width: 150px;
        box-sizing: border-box;
        text-align: left;
        float: left;
        font-size: 13px;
        padding: 5px;
      }
    }
    .click{
      button{
        border: 1px solid rgba(255,255,255,0.6);
        b{
          display: inline-block;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 7px solid #fff;
          margin-left: 2px;
        }
      }
    }
    #default-filte{
      font-size: 12px;
      cursor: pointer;
    }
    #default-filte:hover{
      color: rgb(240, 240, 159);
    }
  }
}
