/*filter menu*/
.filters{
  width: 100%;
}
.filters .bar{
  padding: 5px;
}
.filters .bar li{
  padding: 0;
  margin: 2px;
}
.filters .bar .menu.tab{
  top: 36px;
  border-radius: 0px;
  max-width: 540px;
  background-color: rgba(70, 19, 27, 0.8);
}
.filters .bar .menu.tab li{
  font-size: 0.8em;
  width: 120px;
  text-align: left;
  padding: 5px;
}
.filters .bar select, .filters .bar button{
  background-color: #56573f;
  padding: 5px;
  color: white;
  font-size: 0.8em;
  border: none;
}
.filters .bar button{
  padding: 6px;
}
.filters .bar select option{
  background-color: #56573f;
  padding: 5px;
}
.filters .bar input[type=submit]{
  background-color: #959759;
  padding: 6px 8px;
  color: white;
  border: none;
  font-weight: bold;
}
.filters .bar button b{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px solid white;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  content: "";
}
.filters .bar input[type=submit]:hover,
.filters .bar select:hover,
.filters .bar button:hover{
  background-color: #8a8653;
}
