/* form login */
.user-form{
  width: 100%;
  color: #fff;
  float: left;
}
.user-form a{
  color: #3abbb7;
}
.user-form a:hover{
  color: #48e4df;
}
.user-form form{
  max-width: 400px;
  display: block;
  margin: 8px auto;
  background-color: #4d2417;
  padding: 16px;
  border-radius: 8px;
}
.user-form h2{
  text-align: center;
  color: aqua;
  margin: 10px;
}
.user-form label{
  width: 100%;
  font-size: 16px;
  color: #FFF;
  display: block;
  padding: 5px;
  box-sizing: border-box;
}
.user-form input{
  width: 100%;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.user-form input[type=submit]{
  color: #fff;
  font-weight: bold;
  background-color: #174d17;
  margin-top: 8px;
  padding: 8px;
  border: none;
}
.user-form input[type=submit]:hover{
  background-color: #28662e;
}
.user-form input[type=checkbox]{
  width: 16px;
}
.user-form .check{
  display: flex;
  padding: 8px;
}
/* form suggest */
.input-suggest{
  position: relative;
  width: 100%;
  input[type=text]{
    width: 100%;
  }
  .result{
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    max-height: 400px;
    display: none;
    overflow: auto;
    background-color: #fff;
    z-index: 20;
  }
  &:hover .result{
    display: block;
  }
}

.form-film-upload{
  .image-upload{
    overflow: hidden;
    img{
      width: 100%;
    }
    input[type=file]{
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
  #cover-preview{
    .preview{
     width: 20vh;
     height: 20vw;
     img{
       width: 100%;
     }
    }
  }
  #wallpaper-preview{
    .preview{
     width: 20vw;
     height: 20vh;
     img{
       width: 100%;
     }
    }
  }
  .add-episode{
      cursor: pointer;
  }
  #film-episodes{
    width: 100%;
    .col-1{
      width: 5%;
    }
    .col-2{
      width: 20%;
    }
    .col-3{
      width: 70%;
    }
    .delete-episode{
      cursor: pointer;
    }
    input{
      width: 98%;
    }
  }
  .category{
    width: 100%;
    float: left;
    li{
      float: left;
      padding: 5px;
      width: 120px;
    }
  }
  .input-suggest{
    height: 21px;
    width: 200px;
    input[type=text]{
      height: 16px;
    }
  }
}