.nav{
    width: 100%;
    float: left;
}
header .bar{
    background-color: rgb(26, 3, 3);
    float: left;
    box-sizing: border-box;
}
.bar{
    width: 100%;
    position: relative;
    padding: 0px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.bold{
    font-weight: bold;
}
.click{
    cursor: pointer;
}
.bar .hide{
    display: none;
}
.bar .show{
    display: block;
}
.bar{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bar li{
    list-style-type: none;
    padding: 14px 7px;
    font-size: 18px;
    display: inline;
    text-align: center;
    cursor: pointer;
    color: rgb(252, 231, 231);
}
.bar li a{
    text-decoration: none;
    color: rgb(252, 231, 231);
}
.bar .navbar{
    padding: 0;
    margin: 0;
}
.bar img{
    width: 44px;
    height: 44px;
}
.bar .menu{
    display: none;
    position: absolute;
    background-color: rgba(26, 3, 3, 0.8);
    z-index: 100;
    border-radius: 5px;
    padding: 4px;
}
.bar .menu a{
    font-size: 14px;
    width: 100px;
    padding: 5px 5px;
}
.bar .menu li{
    width: 110px;
    padding: 5px 5px;
    float: left;
    border-radius: 5px;
}
.bar  .menu.tab{
    max-width: 620px;
    top: 50px;
}
.left .menu.tab{
    left: 5px;
}
.right .menu.tab{
    right: 5px;
}
.bar li:hover{
    background-color: rgba(31, 26, 26, 0.8);
}
.menu.col{
    width: 120px;
    right: 2px;
}
.bar .search{
    margin: 0px;
    padding: 6px 2px;
    width: 30%;
}
.bar .search input[type=text]{
    padding: 6px;
    border: 1px solid rgb(216, 129, 129);
    margin: auto;
    font-size: 16px;
    width: 87%;
    box-sizing: border-box;
    float: left;
    border-radius: 5px 0 0 5px;
}
.bar .search input[type=submit]{
    box-sizing: border-box;
    width: 12%;
    height: 32px;
    float: left;
    cursor: pointer;
    background-image:url("search-icon.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #50c244;
    border: 1px solid #50c244;
    border-radius: 0px 5px 5px 0px;
}
.bar input[type=submit]:hover{
    background-color: #64d65e;
}
.bar .notices{
    padding: 6px;
}
.bar .notices img{
    width: 32px;
    height: 32px;
}
.bar .notices .menu.tab{
    width: 320px;
    max-height: 400px;
    overflow: auto;
    padding: 5px;
}
.bar .notices .menu.tab li{
    width: 100%;
    padding: 2px;
}
.bar .notices .menu.tab a{
    width: 100%;
    text-align: left;
}
/*responsive*/
@media screen and (max-width: 680px) {
    .bar .show{
        display: none;
    }
    .bar .hide{
        display: block;
    }
    .bar .search{
        width: 40%;
    }
}
@media screen and (max-width: 540px) {
    .bar .search{
        width: 100%;
    }
}
