.item-container{
  position: relative;
  box-sizing: border-box;
  width: 19%;
  margin: 0.5%;
  float: left;
}
.item-container::before{
  content: '';
  display: block;
  padding-top: 161.8%;
}
.shade{
  box-shadow: 5px 5px 5px rgb(24, 23, 23);
  -moz-box-shadow: 5px 5px 5px rgb(20, 19, 19);
  -webkit-box-shadow: 5px 5px 5px rgb(20, 19, 19);
}
.item-container .item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
.item-container .cover{
  height: 87.5%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.item-container .title{
  height: 12.5%;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}
.item-container .cover img{
    width: 100%;
}
.item-container .vote{
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  text-align: right;
}
.item-container .vote img{
  width: 6%;
}
.item-container .process{
  position: absolute;
  background-color: rgba(17, 16, 16, 0.9);
  border-radius: 4px;
  top: 2px;
  right: 2px;
  padding: 2px;
}
.item:hover{
  left: -4%;
  top: -4%;
  width: 108%;
  height: 108%;
  z-index: 10;
}
@media screen and (min-width: 961px) {
    .item-container{
      width: 19%;
    }
}
@media screen and (max-width: 960px) {
    .item-container{
      width: 24%;
    }
}
@media screen and (max-width: 720px) {
    .item-container{
      width: 32%;
    }
}
@media screen and (max-width: 480px) {
    .item-container{
      width: 49%;
    }
}