html{
    font-size: 14px;
    font-family: Arial;
}
body{
    margin: 0px;
    background-image:url("repeat-icon.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(36, 3, 11, 0.5);
    display: flex;
    flex-direction: column;
}
body a{
  text-decoration: none;
  color: #fff;
}
main{
  display: flex;
  flex-direction: column;
}
header{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.main-content{
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 100vh; 
}
.sidebar{
  box-sizing: border-box;
  padding: 5px;
  width: 38.1%;
}
footer{
  width: 100%;
  box-sizing: border-box;
  background-color: #192022;
  display: block;
}
.notification{
  width: 100%;
  box-sizing: border-box;
}
.filter{
  width: 100%;
  box-sizing: border-box;
}
.alert{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.alert-danger{
  background-color: rgb(139, 20, 20);
}
.alert-success{
  background-color: rgb(181, 150, 226);
}
.alert-info{
  background-color: rgb(199, 193, 139);
}
.alert-warning{
  background-color: rgb(184, 110, 41);
}
nav{
  background-color: rgba(36, 3, 11, 0.7);
  padding: 8px;
  box-sizing: border-box;
  em{
    font-weight: bold;
    font-size: 16px;
  }
}
.a-active:hover{
  color: rgb(159, 255, 130);
  text-decoration: underline;
}
ul{
  list-style-type: none;
}
.transit-short{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.transit-slow{
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.transit-medium{
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {opacity: 0.2}
  to {opacity: .5}
}
@keyframes fade {
  from {opacity: 0.2} 
  to {opacity: .5}
}
.toggle {
  -webkit-animation-name: toggle;
  -webkit-animation-duration: 0.5s;
  animation-name: toggle;
  animation-duration: 0.5s;
}
@-webkit-keyframes toggle {
  from {width: 0%}
  to {width: 100%}
}
@keyframes toggle {
  from {width: 0%}
  to {width: 100%}
}
.hidden{
  visibility: hidden;
}
.none{
  display: none;
}
.show{
  display: block;
}
.shade{
  box-shadow: 5px 5px 5px rgb(24, 23, 23);
  -moz-box-shadow: 5px 5px 5px rgb(20, 19, 19);
  -webkit-box-shadow: 5px 5px 5px rgb(20, 19, 19);
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.click{
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 1080px) {
    .container{
      width: 100%;
    }
}
@media screen and (min-width: 1080px) {
    .container{
        width: 1080px;
    }
}
