html{
    font-size: 14px;
    font-family: Arial;
}
body{
    margin: 0px;
    background-image:url("repeat-icon.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(36, 3, 11, 0.7);
    display: flex;
    flex-direction: column;
}
body a{
  text-decoration: none;
  color: #fff;
}
main{
  display: flex;
  flex-direction: column;
}
.ads{
   top: 0px;
   height: 100%;
   width: 10%;
   position: fixed;
   overflow: hidden;
}
.tie-left{
   left: 0px;
}
.tie-right{
   right: 0px;
}
header{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.introduction{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main-content{
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.sidebar{
    box-sizing: border-box;
    padding: 5px;
    width: 38.1%;
}
footer{
    width: 100%;
    box-sizing: border-box;
    background-color: #192022;
    display: block;
}
.notification{
    width: 100%;
    box-sizing: border-box;
}
.filter{
    width: 100%;
    box-sizing: border-box;
}
.alert{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.alert-danger{
    background-color: rgb(139, 20, 20);
}
.alert-success{
    background-color: rgb(181, 150, 226);
}
.alert-info{
    background-color: rgb(199, 193, 139);
}
.alert-warning{
  background-color: rgb(184, 110, 41);
}
.none{
  display: none;
}
.hidden{
  visibility: hidden;
}
.ratio-720x486{
  padding-top: 148.15%;
}
.ratio-16x9{
  padding-top: 56.25%;
}
.ratio-4x3{
  padding-top: 75%;
}
.ratio-golden{
  padding-top: 161.8%;
}
.transit-short{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media screen and (max-width: 1023px) {
    .ads{
        display: none;
    }
    .container{
      width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .container{
        width: 80%;
    }
    .ads{
      width: 10%;
    }
}
