html{
    font-size: 14px;
    font-family: Arial;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    /*background-image: url("cardboard-flat.png");
    background-repeat: repeat;*/
    background-color: #000;
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
body a{
  text-decoration: none;
}
main{
  display: flex;
  flex-direction: column;
  min-height: 90vh; 
}
header{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.main-content{
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.sidebar{
  box-sizing: border-box;
  padding: 5px;
  width: 38.1%;
}
footer{
  width: 100%;
  box-sizing: border-box;
  background-color: #b4d3db;
  display: block;
}
.notification{
  width: 100%;
  box-sizing: border-box;
}
.filter{
  width: 100%;
  box-sizing: border-box;
}
.alert{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
.alert-danger{
  background-color: rgb(192, 47, 47);
}
.alert-success{
  background-color: rgb(88, 73, 109);
}
.alert-info{
  background-color: rgb(165, 112, 69);
}
.alert-warning{
  background-color: rgb(49, 31, 12);
}
.a-active:hover{
  color: rgb(159, 255, 130);
  text-decoration: underline;
}
ul{
  list-style-type: none;
}
.transit-short{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.transit-slow{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.transit-medium{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: .5}
}
@keyframes fade {
  from {opacity: 0} 
  to {opacity: .5}
}
.toggle {
  -webkit-animation-name: toggle;
  -webkit-animation-duration: 0.5s;
  animation-name: toggle;
  animation-duration: 0.5s;
}
@-webkit-keyframes toggle {
  from {width: 0%}
  to {width: 100%}
}
@keyframes toggle {
  from {width: 0%}
  to {width: 100%}
}
.hidden{
  visibility: hidden;
}
.none{
  display: none;
}
.show{
  display: block;
}
.shade{
  box-shadow: 2px 2px 2px 0px rgba(24, 23, 23, 0.8);
  -moz-box-shadow: 2px 2px 2px 0px rgba(20, 19, 19, 0.8);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(20, 19, 19, 0.8);
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.click{
  cursor: pointer;
  user-select: none;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(10, 19, 70, 0.7); 
}
::-webkit-scrollbar-thumb {
  background: rgb(118, 102, 128); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 152, 152); 
}
@media screen and (min-width: 1024px) {
  .container{
    width: 1080px;
  }
}