.pagination{
  width: 100% !important;
  display: block;
  float: left;
  span{
      float: left !important;
      color: white;
      margin: 1px;
      float: left;
      text-align:center;
      font-weight: bold;
      font-size: 1.2em;
      border: 1px solid rgb(124, 109, 109);
      padding: 8px;
      opacity: 0.9;
  }
  .last{
      border-radius: 0 3px 3px 0;
  }
  .first{
      border-radius: 3px 0 0 3px;
  }
  a{
      color: rgb(17, 16, 16);
      text-decoration: none;
  }
  .page.current{
      color: rgb(68, 53, 129);
  }
  span:hover{
      background-color: rgba(0,0,0,0.7);
  }
}