.stars{
  padding: 2px;
  .per-star{
    position: relative;
    width: 19%;
    float: left;
    div{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-image: url('star.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
    }
    img{
      width: 100%;
    }
  }
  img{
    width: 19%;
    float: left;
    margin-right: 0.9%;
  }
}
.rate-container{
  max-width: 700px;
  padding: 8px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .stars{
    width: 25%;
  }
  .bar-container{
    margin: 2px 0;
    height: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    .bar-hundred{
      width: 76%;
      height: 14px; 
      background-color: #f1e3e3;
    }
    .bar-per{
      height: 14px;
    }
    em{
      width: 12%;
      text-align: center;
      img{
        margin-left: 2px;
        height: 10px;
        width: 10px;
      }
    }
    .bar-5 {
      background-color: #4CAF50;
    }
    .bar-4 {
      background-color: #2196F3;
    }
    .bar-3 {
      background-color: #00bcd4;
    }
    .bar-2 {
      background-color: #ff9800;
    }
    .bar-1 {
      background-color: #f44336;
    }
  }
}