.movie-container{
    width: 100%;
}
.movie-cover{
    position: relative;
    width: 40%;
    float: left;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(24, 23, 23);
    -moz-box-shadow: 5px 5px 5px rgb(20, 19, 19);
    -webkit-box-shadow: 5px 5px 5px rgb(20, 19, 19);
    margin: 5px;
}
.movie-cover::before {
    content: "";
    display: block;
    padding-top: 141.4%;
}
.movie-cover img{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.movie-detail{
    width: 55%;
    float: left;
    color: white;
    font-size: 1em;
}
.movie-detail a{
    color: bisque;
    text-decoration: none;
}
.movie-detail a:hover{
    color: rgb(157, 170, 207);
}
th{
    width: 30%;
}
td{
    width: 70%;
}
th, td {
    padding: 3px;
    text-align: left;
}
.name-movie{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
}
.movie-intro{
    float: left;
    width: 100%;
    font-style: italic;
    color: aliceblue; 
    font-size: 1.2em;
    padding: 5px;
}
.movie-intro .intro{
    max-height: 200px;
    overflow: auto;
}
.trailer{
    width: 100%;
    position: relative;
    margin: auto;
}
.trailer::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
.trailer iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.play , .follow{
    position: absolute;
    width: 50%;
    padding: 12px 0px;
    text-align: center;
    float: left;
    opacity: 0.9;
    color: #fff;
    font-weight: bold;
    border: none;
    text-decoration: none;
}
.play{
    bottom: 0px;
    left: 0px;
    background-color: rgb(88, 73, 170);
}
.follow{
    bottom: 0px;
    right: 0px;
    background-color: rgb(73, 58, 8);
}
.follow:hover, .play:hover{
    background-color: rgb(21, 15, 48);
}
.episodes{
    width: 100%;
    color: #fff;
    float: left;
    box-sizing: border-box;
}
.episodes ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.episodes li{
    display: inline-block;
    padding: 8px 0; 
}
.episodes li a, .episodes li span{
    padding: 5px 8px;
    background-color: rgb(41, 28, 28);
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgb(157, 170, 207);
}
.episodes a:hover{
    background-color: rgb(117, 29, 211);
}
.block{
    padding: 8px 0;
}
.movie-intro .click{
    color: rgb(141, 252, 67);
    text-decoration: underline;
}
@media screen and (max-width: 480px) {
    .movie-cover{
        width: 100%;
    }
    .movie-detail{
        width: 100%; 
    }
}
