.description-container{
  float: left;
  width: 100%;
  background-color: rgba(31,7,3,0.2);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.descriptions{
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 2px;
}
.descriptions a{
  color: rgb(217, 236, 247);
  text-decoration: none;
}
.descriptions a:hover{
  color: rgb(190, 252, 120);
}
.descriptions::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
.descriptions img{
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  height: 100%;
}
.description-container .descriptions img{
  opacity: 0.4;
}
.descriptions  table{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
}
.descriptions td, .descriptions th{
  /*border: 1px solid #fff;*/
  padding: 2px;
  width: 25%;
}
.descriptions #name{
  font-size: 1.2em;
  font-weight: bold;
}
.descriptions th{
  color: aqua;
}

#episodes{
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}
#rating{
  float: left;
  width: 100%;
}
#episodes a{
  color: #fff;
  text-decoration: none;
  padding: 8px;
}
#episodes li{
  display: inline-block;
  padding: 4px 10px;
  background-color: rgb(34, 29, 29);
  border-radius: 5px;
  margin: 2px;
}
#episodes li:hover{
  background-color: rgb(80, 64, 64);
}
#intro{
  width: 100%;
  color: aliceblue;
  border-radius: 10px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}
#trailer{
    width: 100%;
    position: relative;
    margin: auto;
    float: left;
    box-sizing: border-box;
}
#trailer::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
#trailer iframe{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.click-play{
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(12, 11, 11);
  border-radius: 6px;
  z-index: 8;
}
@media screen and (max-width: 540px) {
    .descriptions::before {
      content: "";
      display: block;
      padding-top: 75%;
    }
    .descriptions table{
      font-size: 12px;
    }
}
