<div class="item-move">
  <div class="cover">
    <div class="intro">
        Câu chuyện sau Minato Narumiya. Minato chơi bắn cung Nhật Bản ở trường trung
        học, nhưng sau một sự cố nào đó, anh ta chạy trốn khỏi môn thể thao.
        Ở trường trung học, Minato gặp gỡ những người bạn mới,
        và cùng nhau như một phần của câu lạc bộ bắn cung của
            trường họ nhằm mục đích giành chiến thắng trong giải đấu quận.
        Câu chuyện sau Minato Narumiya
    </div>
    <div class="duration">120 minute</div>
    <%= link_to image_tag("cover-default.jpeg"), "#" %>
    <div class="episode">11/12</div>
  </div>
  <div class="title">
    <%= link_to "TSURUNE: KAZEMAI KOUKOU KYUUDOUBU", "#" %>
    <div class="viewed"><%= image_tag "view-icon.png"%>12504</div>\
    <%= link_to "","#", class: "img-play" %>
  </div>
</div>