<div class="sidebar">
  <ul class="list-item">
    <% @top_films.each do |film| %>
    <li>
       <div class="item">
       <div class="thumb">
         <%= image_tag film.thumb %>
       </div>
       <div class="title">
         <%= film.name %>
       </div>
       </div>
    </li>
    <% end %>
  </ul>
</div>